* {
  font-family: Helvetica, sans-serif;
  /*outline: 1px orange dotted;*/
}

header {
  background: linear-gradient(#456C95, white);
  min-width: 101%;
  margin-top: -10px;
  margin-left: -10px;
}

main {
  margin: 0 auto;
  width: 960px;
  margin: 0px auto;
}

.inner {
  width: 960px;
  display: block;
  margin: 0 auto;
}

h1 {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  font-size: 100px;
  letter-spacing: 2px;
  margin-left: 50px;
}

#pictures {
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  background-color: rgba(165, 199, 39, 0.6);
}

#pictures img {
  display: inline-block;
  width: 250px;
  height: 250px;
  border: 10px solid rgba(165, 199, 39, 1);
}

#chart {
  margin-top: 50px;
}
