* {
  font-family: Helvetica, sans-serif;

}

header {
  background: linear-gradient(#456C95, white);
  width: 100%;
}

main {
  margin: 0 auto;
  width: 960px;
  margin: 0px auto;
}

#inner {
  width: 960px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

h1 {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  font-size: 100px;
  letter-spacing: 2px;
  margin-left: 40px;
}

#pictures {
  margin-top: 50px;
  text-align: center;
}

#pictures img {
  display: inline-block;
  width: 250px;
  height: 250px;
}

#chart {
  margin-top: 50px;
}
